*.SchDocPreview
*.HarnessPreview
*.PcbDocPreview
*.TopPreview
*.PrjPcbStructure
*.PcbDoc.htm
*.apr
*.DRR
*.EXTREP
*.LDP
*.REP
*.RUL
*.APR_LIB
*.Dat
Status Report.Txt
*.Dat
History/
Project Logs for LORA_NODE_PCB_Project/

